.dropdown-wrapper{
    background-image: url(../../assets/house-background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-down-form-wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    height: 70vh;
    width: 40vw;
    /* border: 1px solid black; */
    background: rgb(241 234 146 / 70%);
    transition: opacity 500ms;
    border-radius: 15px;
}
.form-heading {
    /* font-family: sans-serif; */
    font-weight: 600;
    font-size: 20px;
    font-family: Open sans;
    padding: 25px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.dropdown-sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 22px;
    margin-top: 15px;
}
label.dropdown-label {
    font-size: 15px;
    font-family: Open sans-serif;
}
select.select-input-style {
    width: 33vw;
    height: 4vh;
    border-radius: 10px;
    margin-top: 2px;
    /* padding-top: 3px; */
    outline: none;
}